/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Roboto", serif !important;
  font-optical-sizing: auto;
  font-style: normal;
  
  /* font-family: "EB Garamond", serif; */
}
ul
{
  list-style: none;
  padding-left: 0 !important;
}
a
{
  color: #070707;
  list-style: none;
  text-decoration: none !important;
}